<form class="login-page">
    <div class="form-group row">
        <label for="login" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="login" placeholder="Enter your login">
        </div>
    </div>
    <div class="form-group row">
        <label  for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <button type="submit" class="btn btn-outline-primary btn-sm">Sign in</button>
            <button type="button" class="btn btn-outline-secondary btn-sm">Registration</button>
        </li>
    </ul>
</form>